/*
Template: 
category: custom
Author: hoppaang
Version: 1.0
Design and Developed by: hoppaang
*/
body {
  font-size: 14px;
}
a.logo {
  padding-bottom: 20px;
  font-size: 1.1em;
  color: #333;
}
a.logo strong {
  font-size: 2em;
  color: #a73c3d;
}
.slide-tmargin {
  max-height: 600px;
}
.tp-revslider-slidesli {
  max-height: 600px;
}
.header-section.pin-start a.logo {
  color: #fff;
}
.header-section.pin-start a.logo strong {
  color: #f16154;
}
.bizArea {
  background: url(../image/bizArea1.png) no-repeat;
  background-size: cover;
  min-height: 400px;
}
.bizArea-type2 {
  background-image: url(../image/bizArea2.png);
}
.bizArea-type3 {
  background-image: url(../image/bizArea3.png);
}
.col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.bizArea-ment {
  position: absolute;
  width: 80%;
  margin-top: 290px;
  margin-left: -10%;
  padding: 15px 20px;
  background-color: rgba(167, 60, 61, 0.85);
  border-radius: 9px;
  color: #ffeebf;
  font-size: 0.9em;
}
.bizArea-ment h5 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.bizArea-ment p {
  margin: 0;
  line-height: 1.6;
}
.ce-feature-box-64 .b-line-2 {
  background-color: transparent;
}
.ce-feature-box-64:hover .b-line {
  background-color: rgba(167, 60, 61, 0.8);
}
.ce-feature-box-64.bmargin {
  margin-bottom: 20px;
  border-radius: 9px;
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 20%);
}
.ce-sub-text {
  width: 95%;
  color: initial;
  line-height: 1.7;
}
.sec-title-container {
  padding-bottom: 80px;
}
.footer-logo {
  margin: 0;
  color: #fff;
}
.footer-logo strong {
  font-size: 2em;
}
.footer-logo + p {
  color: #aaa;
  font-size: 0.9em;
}
.section-copyrights {
  text-align: left;
}
.scrollup {
  background: #1a1a1a url(../image/scroll-top-arrow.png) no-repeat 15px 16px;
}
.sec-padding-6 {
  padding: 30px 0 15px 0;
}
@media only screen and (max-width: 1000px) {
  .slide-tmargin {
    max-height: 400px;
  }
  .tp-revslider-slidesli {
    max-height: 400px;
  }
  .header-section {
    padding-bottom: 0;
  }
  .header-section a.logo {
    color: #fff;
  }
  .header-section a.logo strong {
    color: #f16154;
  }
  .sec-title-container {
    padding-bottom: 30px;
  }
  .ibexBixRowMobile {
    margin: 0;
  }
  .bizArea-ment {
    position: initial;
    width: 100%;
    margin-top: 305px;
    margin-left: 0;
    overflow: hidden;
    border-radius: 0;
    height: 97px;
    font-size: 1em;
  }
  .ce-feature-box-64 {
    padding: 0;
  }
  .section-copyrights strong {
    display: block;
  }
  .ibexBixRowMobile1 {
    margin-top: 30px;
  }
  .ibexBixRowMobile2 {
    margin-top: 100px;
    zoom: 1.5;
  }
  .ibexBixRowMobile3 {
    margin-top: 130px !important;
    zoom: 1.2;
  }
}
@media only screen and (max-width: 460px) {
  .ibexBixRowMobile3 {
    width: 270px;
    white-space: initial !important;
    margin-top: 130px !important;
    zoom: 1.2;
    line-height: 1.4 !important;
  }
}
