.nav-item a {
  text-transform: capitalize;
}
.swiper-container h2 span {
  display: block;
  font-size: 2em;
}
.post-details {
  color: #fff;
}
.ibex-text-color {
  color: #a73c3d;
}
.ibex-text-color-dark {
  color: #3f5766;
}
.ibex-text-color-deep-green {
  color: #40ab66;
}
.ibex-text-light-yellow-color {
  color: #ffeebf;
}
.ibex-background-color {
  background-color: #a73c3d;
}
.ibex-background-color-opacity8 {
  background-color: rgba(167, 60, 61, 0.8);
}
.word-keep {
  word-break: keep-all;
}
.small-h5 {
  font-size: 1.7rem;
  line-height: 2.6rem;
}

[main] .post-details {
  position: absolute;
  border-radius: 10px;
  width: 90%;
  margin-top: -30px;
  margin-left: 5%;
  padding: 10px 15px 15px 15px;
}
[main] .bigscreen-animation img {
  height: 100%;
  min-height: 700px;
}
[main] .bigscreen {
  left: 0;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 8s;
  overflow: hidden;
}
.map.grayscale {
  filter: grayscale(40%);
}
.gmaps-holder-2 {
  padding: 0;
  height: 500px;
}
.moduleicon-chef {
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
